@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  width: 100%;
}

body {
  @apply selection:text-zinc-100 selection:bg-zinc-600 selection:bg-opacity-25 selection:backdrop-blur-sm;
}

.skillsSection {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1019%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(39%2c 39%2c 42%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c384.994C70.619%2c391.824%2c121.395%2c315.052%2c168.213%2c261.744C205.987%2c218.734%2c209.649%2c157.888%2c241.331%2c110.212C281.652%2c49.535%2c376.027%2c18.427%2c378.289%2c-54.39C380.475%2c-124.759%2c297.77%2c-164.862%2c251.527%2c-217.949C205.425%2c-270.874%2c174.812%2c-346.23%2c107.312%2c-365.471C39.869%2c-384.696%2c-26.894%2c-340.031%2c-92.817%2c-316.106C-154.535%2c-293.707%2c-216.202%2c-273.397%2c-265.592%2c-230.137C-320.318%2c-182.203%2c-388.158%2c-128.769%2c-389.737%2c-56.036C-391.326%2c17.126%2c-320.369%2c68.779%2c-273.3%2c124.812C-237.43%2c167.513%2c-188.918%2c192.659%2c-148.527%2c231.112C-95.827%2c281.283%2c-72.425%2c377.99%2c0%2c384.994' fill='%23232325'%3e%3c/path%3e%3cpath d='M1440 941.344C1512.156 939.255 1586.441 919.836 1640.535 872.038 1691.663 826.8620000000001 1704.763 755.241 1724.526 689.939 1741.862 632.658 1763.3519999999999 573.607 1748.3899999999999 515.66 1734.041 460.08799999999997 1675.394 431.03 1645.09 382.288 1606.852 320.78499999999997 1609.792 230.36200000000002 1547.768 192.97500000000002 1485.04 155.164 1399.266 163.767 1332.492 193.86200000000002 1268.5 222.70299999999997 1246.283 299.342 1198.234 350.509 1147.476 404.56100000000004 1052.243 429.34000000000003 1042.356 502.827 1032.454 576.428 1119.308 624.858 1152.378 691.352 1183.933 754.8 1178.379 837.384 1231.862 883.87 1287.309 932.063 1366.567 943.47 1440 941.344' fill='%232b2b2f'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1019'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-position: center;
}

.indieFont {
  font-family: "Indie Flower", cursive;
}

.skillLogo {
  @apply opacity-50 group-hover:opacity-100 transition duration-200 relative group-focus:opacity-100 select-none;
}

.watchablyGradient {
  @apply bg-gradient-to-r from-teal-500 to-blue-500;
}

.pollerGradient {
  @apply bg-gradient-to-r from-teal-500 via-blue-500 to-red-500;
}

.maptyGradient {
  @apply bg-gradient-to-l from-amber-500 to-emerald-500;
}

.pigdiGradient {
  @apply bg-gradient-to-r from-purple-500 to-red-500;
}

.techChip {
  @apply text-zinc-500 hover:text-zinc-700 text-xs py-px px-2 dark:text-zinc-300 rounded-full cursor-default bg-opacity-10 hover:bg-opacity-75 dark:bg-opacity-10 dark:hover:bg-opacity-75 dark:hover:text-zinc-100 dark:hover:border-zinc-500 hover:border-zinc-300 transition duration-200 border dark:border-zinc-800 border-zinc-300;
}

.reactChip {
  @apply techChip dark:bg-sky-500 dark:bg-opacity-10 dark:hover:bg-opacity-75 bg-sky-300;
}

.SCSSChip {
  @apply techChip dark:bg-pink-500 dark:bg-opacity-10 dark:hover:bg-opacity-75 bg-pink-300;
}

.FirebaseChip {
  @apply techChip dark:bg-orange-500 dark:bg-opacity-10 dark:hover:bg-opacity-75 bg-orange-300;
}

.TypeScriptChip {
  @apply techChip dark:bg-blue-500 dark:bg-opacity-10 dark:hover:bg-opacity-75 bg-blue-300;
}

.JavaScriptChip {
  @apply techChip dark:bg-yellow-500 dark:bg-opacity-10 dark:hover:bg-opacity-75 bg-yellow-300;
}

.TailwindChip {
  @apply techChip dark:bg-cyan-600 dark:bg-opacity-10 dark:hover:bg-opacity-75 bg-cyan-400;
}

.NextjsChip {
  @apply techChip dark:bg-zinc-800 dark:bg-opacity-10 dark:hover:bg-opacity-75 bg-zinc-500;
}

.moreSection {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1602%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(39%2c 39%2c 42%2c 1)'%3e%3c/rect%3e%3cpath d='M1440 0L767.66 0L1440 104.84z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M767.66 0L1440 104.84L1440 173.11L551 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M551 0L1440 173.11L1440 291.47L304.13 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M304.1300000000001 0L1440 291.47L1440 479.57000000000005L96.60000000000011 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L298.91 560L0 376.16999999999996z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 376.16999999999996L298.91 560L831.73 560L0 230.09999999999997z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 230.10000000000002L831.73 560L902.1800000000001 560L0 189.54000000000002z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 189.54000000000002L902.1800000000001 560L1015.9100000000001 560L0 91.94000000000003z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1602'%3e%3crect width='1440' height='560' fill='gray'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-position: center;
}

.parallaxBtns {
  transform: perspective(1000px) translateZ(75px) scale(0.95);
  position: relative;
  z-index: 9999999;
}

.tiltEffect {
  transform-style: preserve-3d;
}

/* .reactChip {
  @apply techChip bg-zinc-600;
}

.SCSSChip {
  @apply techChip bg-zinc-600;
}

.FirebaseChip {
  @apply techChip bg-zinc-600;
}

.TypeScriptChip {
  @apply techChip bg-zinc-600;
}

.JavaScriptChip {
  @apply techChip bg-zinc-600;
}

.TailwindChip {
  @apply techChip bg-zinc-600;
}

.NextjsChip {
  @apply techChip bg-zinc-600;
} */
